<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index.html}">
<section layout:fragment="content">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Tool Details</h1>
        <a href="/addToolDetail" class="d-none d-sm-inline-block btn btn-sm btn-dark shadow-sm"><i class="fas fa-sm text-white-50"></i>Add tool detail</a>

    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- DataTales Example -->
        <div class="card shadow mb-4 col-12">
            <div class="card-header py-3">
                <div class="col-12 alert alert-success" th:if="${isCreated != null && isCreated}" type="hidden">
                    Tool Detail created successfully
                </div>
                <div class="col-12 alert alert-danger" th:if="${isCreated != null && !isCreated}" type="hidden">
                    Tool Detail failed to create
                </div>
                <div class="col-12 alert alert-success" th:if="${isUpdated != null && isUpdated}" type="hidden">
                    Tool Detail updated successfully
                </div>
                <div class="col-12 alert alert-danger" th:if="${isUpdated != null && !isUpdated}" type="hidden">
                    Tool Detail failed to update
                </div>
                <div class="col-12 alert alert-success" th:if="${isDeleted != null && isDeleted}" type="hidden">
                    Tool Detail deleted successfully
                </div>
                <div class="col-12 alert alert-danger" th:if="${isDeleted != null && !isDeleted}" type="hidden">
                    Tool Detail failed to delete
                </div>
                <h6 class="m-0 font-weight-bold text-dark">Tool Details</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Tool</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Tool</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="toolDetail : ${toolDetails}">
                            <td th:text="${toolDetail.getId()}" />
                            <td th:text="${toolDetail.getName()}" />
                            <td th:text="${toolDetail.getValue()}" />
                            <td th:text="${toolDetail.getTool().getName()}" />
                            <td>
                                <a th:href="@{|/editToolDetail/${toolDetail.getId()}|}" class="btn btn-dark btn-circle">
                                    <i class="fas fa-wrench"></i>
                                </a>
                                <a th:href="@{|/deleteToolDetail/${toolDetail.getId()}|}" class="btn btn-danger btn-circle" type="hidden">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</html>