<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index.html}">
<section layout:fragment="content">
    <!-- Page Heading -->

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Add Role Form</h1>
    </div>

    <!-- Content Row -->
    <div class="row justify-content-center">
        <div class="col-lg-6 card shadow mb-4">

            <div class="card-header py-3">
                <div class="col-12 alert alert-danger" th:hidden="${failed == null || !failed}" id="alert">
                    Role failed to save, name must be unique!
                </div>
                <h6 class="m-0 font-weight-bold text-primary">Add role</h6>
            </div>
            <div class="card-body">
                <form id="addRole">
                    <div class="form-group">
                        <input id="name" name="name" class="form-control form-control-user" placeholder="Enter Role name..." th:classappend="${failed != null && failed} ? 'border-bottom-danger' : ''">
                    </div>
                    <div class="form-group">
                        <div class="form-check-inline">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" id="viewRoles" name="viewRoles">
                                <label class="form-check-label" for="viewRoles">
                                    View Roles
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" id="addRoles" name="addRoles">
                                <label class="form-check-label" for="addRoles">
                                    Add & Edit Roles
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" id="viewUsers" name="viewUsers">
                                <label class="form-check-label" for="viewUsers">
                                    View Users
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" id="addUsers" name="addUsers">
                                <label class="form-check-label" for="addUsers">
                                    Add & Edit Users
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check-inline">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" id="viewPersons" name="viewPersons">
                                <label class="form-check-label" for="viewPersons">
                                    View Persons
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" id="addPersons" name="addPersons">
                                <label class="form-check-label" for="addPersons">
                                    Add & Edit Persons
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button id="submitButton" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<th:block layout:fragment="script">
    <script th:src="@{/js/gym/role/addRole.js}"></script>
</th:block>
</html>