<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div th:fragment="sidebar">
    <!-- this is sidebar -->
    <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-book"></i>
            </div>
            <div class="sidebar-brand-text mx-3">LBYC</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading" style="padding-left:7.5%">
            Administration
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item" sec:authorize="hasAuthority('READ_ROLE')">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRoles" aria-expanded="true" aria-controls="collapseRoles">
                <i class="fas fa-fw fa-cog"></i>
                <span>Roles</span>
            </a>
            <div id="collapseRoles" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Manage roles:</h6>
                    <a class="collapse-item" href="/addRole" sec:authorize="hasAuthority('WRITE_ROLE')">Add role</a>
                    <a class="collapse-item" href="/roles" sec:authorize="hasAuthority('READ_ROLE')">List roles</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item" sec:authorize="hasAuthority('READ_USER')">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="true" aria-controls="collapseUsers">
                <i class="fas fa-fw fa-users"></i>
                <span>Users</span>
            </a>
            <div id="collapseUsers" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Manage users:</h6>
                    <a class="collapse-item" href="/addUser" sec:authorize="hasAuthority('WRITE_USER')">Add user</a>
                    <a class="collapse-item" href="/users" sec:authorize="hasAuthority('READ_USER')">List users</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            LBYC
        </div>

        <!-- Nav Item - Persons Collapse Menu -->
        <li class="nav-item" sec:authorize="hasAuthority('READ_PERSON')">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePersons" aria-expanded="true" aria-controls="collapsePersons">
                <i class="fas fa-fw fa-user-friends"></i>
                <span>Persons</span>
            </a>
            <div id="collapsePersons" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Manage persons:</h6>
                    <a class="collapse-item" href="/addPerson" sec:authorize="hasAuthority('WRITE_PERSON')">Add person</a>
                    <a class="collapse-item" href="/persons" sec:authorize="hasAuthority('READ_PERSON')">List persons</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Courses Collapse Menu -->
        <li class="nav-item" sec:authorize="hasAuthority('READ_COURSE')">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCourses" aria-expanded="true" aria-controls="collapseCourses">
                <i class="fas fa-fw fa-book-open"></i>
                <span>Courses</span>
            </a>
            <div id="collapseCourses" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Manage Courses:</h6>
                    <a class="collapse-item" href="/addCourse" sec:authorize="hasAuthority('WRITE_COURSE')">Add course</a>
                    <a class="collapse-item" href="/courses" sec:authorize="hasAuthority('READ_COURSE')">List courses</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    </div>

</html>
