<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index.html}">
<section layout:fragment="content">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Persons</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- DataTales Example -->
        <div class="card shadow mb-4 col-12">
            <div class="card-header py-3">
                <div class="col-12 alert alert-success" th:if="${isCreated != null && isCreated}" type="hidden">
                    Person created successfully
                </div>
                <div class="col-12 alert alert-danger" th:if="${isCreated != null && !isCreated}" type="hidden">
                    Person failed to create
                </div>
                <div class="col-12 alert alert-success" th:if="${isUpdated != null && isUpdated}" type="hidden">
                    Person updated successfully
                </div>
                <div class="col-12 alert alert-danger" th:if="${isUpdated != null && !isUpdated}" type="hidden">
                    Person failed to update
                </div>
                <div class="col-12 alert alert-success" th:if="${isDisabled != null && isDisabled}" type="hidden">
                    Person disabled successfully
                </div>
                <div class="col-12 alert alert-danger" th:if="${isDisabled != null && !isDisabled}" type="hidden">
                    Person failed to disable because there should a user associated to this person
                </div>
                <div class="col-12 alert alert-success" th:if="${isEnabled != null && isEnabled}" type="hidden">
                    Person enabled successfully
                </div>
                <div class="col-12 alert alert-danger" th:if="${isEnabled != null && !isEnabled}" type="hidden">
                    Person failed to enable
                </div>
                <h6 class="m-0 font-weight-bold text-dark">Persons</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Gender</th>
                            <th>Birthdate</th>
                            <th>Personal ID</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Gender</th>
                            <th>Birthdate</th>
                            <th>Personal ID</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="person : ${persons}">
                            <td th:text="${person.getId()}" />
                            <td th:text="${person.getFirstName()}" />
                            <td th:text="${person.getLastName()}" />
                            <td th:text="${person.getGender()}" />
                            <td th:text="${#dates.format(person.getBirthDate(), 'dd-MMM-yyyy')}" />
                            <td th:text="${person.getPersonalId()}" />
                            <td th:text="${person.isEnabled} ? Enabled : Disabled"/>
                            <td>
                                <a th:href="@{|/editPerson/${person.getId()}|}" class="btn btn-dark btn-circle">
                                    <i class="fas fa-wrench"></i>
                                </a>
                                <a th:href="@{|/disablePerson/${person.getId()}|}" class="btn btn-danger btn-circle" th:if="${person.isEnabled()}" type="hidden">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <a th:href="@{|/enablePerson/${person.getId()}|}" class="btn btn-success btn-circle" th:if="${!person.isEnabled()}" type="hidden">
                                    <i class="fas fa-check"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</html>