<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index.html}">
<section layout:fragment="content">
    <!-- Page Heading -->

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Add Course Material Form</h1>
    </div>

    <!-- Content Row -->
    <div class="row justify-content-center">
        <div class="col-lg-6 card shadow mb-4">

            <div class="card-header py-3">
                <div class="col-12 alert alert-danger" th:hidden="${failed == null || !failed}" id="alert">
                    Course Material failed to save, fields should be filled!
                </div>
                <h6 class="m-0 font-weight-bold text-dark">Edit course material</h6>
            </div>
            <div class="card-body">
                <form id="editCourseMaterial">
                    <div class="form-row">
                        <input id="id" name="id" th:value="${courseMaterialDTO.getId()}" hidden="">
                        <div class="form-group col-md-12">
                            <label for="name">Name</label>
                            <input id="name" name="name" class="form-control form-control-user" placeholder="Enter Course Material name..." th:value="${courseMaterialDTO.getName()}" th:classappend="${failed != null && failed} ? 'border-bottom-danger' : ''" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="courseId">Course</label>
                            <select id="courseId" name="courseId" class="form-control form-control-user" placeholder="Select Course..." th:classappend="${failed != null && failed} ? 'border-bottom-danger' : ''" required>
                                <option th:each="course : ${courses}"
                                        th:value="${course.getId()}"
                                        th:utext="${course.getName()}"
                                        th:selected="${course.getId() == courseMaterialDTO.getCourseId()}"/>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button id="submitButton" class="btn btn-dark">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" hidden=""></span>
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<th:block layout:fragment="script">
    <script th:src="@{/js/lbyc/courseMaterials/editCourseMaterial.js}"></script>
</th:block>
</html>